<img src="{{imageUrl}}" alt="" class="info-image">

<form action="/post/create" method="POST">
<div class="post-det-desc">
    <h1 name="title">{{title}}</h1>
    <p name="description">{{content}}</p>
    <input type="hidden" name="title" value="{{title}}">
    <input type="hidden" name="description" value="{{content}}">
    <textarea class="description-area" type="text" rows="5" cols="33" name="comment" placeholder="Add a comment..."></textarea>
    <input type="hidden" name="imageUrl" value="{{imageUrl}}">
    <button class="signup-button comment" type="submit">add to history</button>
    <ul class="recommendations-ul">
        {{#each orderedList}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    </div>
</form>