<img src="{{post.imageUrl}}">
<h1>{{post.title}}</h1>
<p>{{post.comment}}</p>
<p>{{post.description}}</p>


{{#if isOwner}}
<a href="/post/{{post._id}}/edit">Edit comment</a>
<form action="/post/{{post._id}}/remove" method="POST"><button type="submit">Remove from history</button></form>
{{/if}}