<img class="post-det-im" src="{{post.imageUrl}}">
<div class="post-det-desc">
    <h1>{{post.title}}</h1>
    <p class="post-comment">{{post.comment}}</p>
    <p>{{post.description}}</p>
</div>


{{#if isOwner}}
<a href="/post/{{post._id}}/edit">Edit comment</a>
<form action="/post/{{post._id}}/remove" method="POST"><button type="submit">Remove from history</button></form>
{{/if}}